body{
    background-color: rgb(221 225 229) !important;
}
.css-wn5hww-MuiLineElement-root{
    stroke: #fff !important;
}
.css-hpcj9b-MuiAreaElement-root{
    opacity: 0.5 !important;
}
.home-chart .css-1k2u9zb-MuiChartsAxis-root {
    display: none ;
    
}