body{
    background-color: rgb(221 225 229) !important;
}

// .css-hpcj9b-MuiAreaElement-root{
//     opacity: 0.5 !important;
// }
.home-chart .css-1k2u9zb-MuiChartsAxis-root {
    display: none ;
    
}
.recharts-default-tooltip{
    margin: 0px;
    padding: 10px;
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
    border-radius: 3px;
    background: darkslateblue !important;
}

 .recharts-line-curve{
    stroke-width: 9px !important;

}
.makeStyles-card-25{
    margin: auto;
    // max-width: 300px !important;

}
.facebook-logo{
    background: #3b5998 !important;
}
.twitter-logo{
    background-color: #00aced !important;
}
.linkedin-logo{
    background-color: #4875b4 !important;
}

.event-logo{
    background-color: #f6960b !important;
}
.recharts-wrapper{
    position: relative;
    cursor: default;
    opacity: 0.8 !important;
     width: 100% !important;
    height: 200px !important;
}
.MuiGrid-item {
    .css-ntfqtu-MuiPaper-root-MuiCard-root{
        border-radius: 4px 4px 0px 0px !important ;
        height: 150px !important;
        stroke-width: 4px;
    
    }
}

.css-46bh2p-MuiCardContent-root {
    padding: 0px !important;
}


