.management-text{
  width: 40%;
}
.management-container {
  .approve-btn {
    background: #2982cc;
    color: #fff;
    margin-left: 5px;
    margin-right: 10px;
    &:hover {
        background: #2d622d;
    color: #fff;
      }
  }


  .reject-btn {
    background-color: #d93737;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: black;
    }
  }
}

h6{
    background:#fbb2b2;
    display:flex ; 
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0px;
    font-weight: bold;
    padding: 10px 20px;
  
}

@media (max-width: 600px) {
  .management-container th,
  .management-container td {
    padding: 8px !important;
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 784px){
    .management-container{
 
        
        .reject-btn {
            margin: 20px 0px;
        }
    }
    .management-text{
      width: 80%;
    }
}
