.qtn-approv-text {
  width: 40%;
}


@media only screen and (max-width: 784px) {
  .qtn-approv-text {
    width: 80%;
  }

  .newRequest-container {
    .reject-btn {
      margin: 10px 0px;
    }
  }
}

