body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
$primary-color:#D0D3D4;
$secondary-color:#F7F9F9;

.active{
    color: #fff;
  
    
}
.css-1hsz34s-MuiDrawer-docked {
  .MuiDrawer-paper {
    background: #34495E  !important;
  }
}

.drawer-header{
    background: rgba(0, 0, 21, 0.2)!important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background: #3c4b64  !important;
}
.list-items {
  color: $primary-color;
  .css-wa5fuu-MuiListItemIcon-root {
    color: $primary-color !important;
  }
}
.css-1ddsiuw-MuiListItemIcon-root{
    color: #fff !important;
}
.list-items:hover{
    color: $secondary-color;
    .css-wa5fuu-MuiListItemIcon-root:hover{
        color: $secondary-color !important;
    }
}
.drawer-bottom{
    display: flex;
    justify-content: space-between;
    margin-block-start: auto;
    background: rgba(0, 0, 21, 0.2) !important;
}
.drawer-bottom{
    .css-i4bv87-MuiSvgIcon-root {
        color: $primary-color;
        &:hover{
            color: white;
        }
   }
}


header{
    background: #fff !important;
    color: black !important;
    box-shadow: 2px 0px 3px !important;

}
a{
    text-decoration: none;
    color: $primary-color;
    &:hover{
        color: $secondary-color;
      
    }
}
.dashboard-header{
    color: black !important;
}


@media only screen and (max-width:'1900px'){


.css-2dum1v-MuiDrawer-docked{

.css-1p823my-MuiListItem-root{
    padding-left: 0px !important;
}
}

}

